.advantages {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #F6F6F6;
    
    .advantage {
        margin: 0 auto;
        height: 473px;
        width: 100%;
        align-items: center;
        justify-content: center;
        &_header {
            display: block;
            font-family: Museo Sans 900;
            font-size: 30px;
            font-weight: 900;
            text-align: center;
            margin-top: 73px;
            margin-bottom: 60px;
            height: 30px;
            text-transform: uppercase;
            }
        &_icons {
            display: flex;
            justify-content: center;

        }
        
    .advantage_subheader {
        font-size: 18px;
        font-weight: 700;
        margin: 30px 0 20px 0;
    }

    .advantage_icon {
        display: block;
        justify-content: center;
        text-align: center;
        width: 300px;
        height: 280px;
        &_art {
        width: 270px;
        min-height: 70px;
        font-size: 14px;
        margin: 0 auto;
        span {
            font-family: cursive;
            text-transform: uppercase;
            text-decoration: underline;
            color: rgb(207, 39, 39);
        }
    }

    .advantage_img {
        width: 70px;
        height: 70px;
        &_animated {
            animation: heartbeat 2s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
        }
    }
}

/* advantage_img_animated */