.reviews {
    display: flex;
    min-height: 920px;
    &__header {
        text-align: center;
        font-size: 30px;
        font-weight: 700;
    }
    &__items {

    }
    &__items_logo {
        display: flex;
        width: 169px;
        height: 169px;

    }
}