@import '../libs/bootstrap-reboot.min';
@import '../libs/fonts';
@import '../libs/slick';
@import '../libs/animate.min';

@import '../base/vatiables';
@import '../base/animation';
*{
    font-family:'Museo Sans Cyrl', sans-serif;
}
.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}
@import '../blocks/promo';
@import '../blocks/header';
@import '../blocks/buttons';
@import '../blocks/advantage';
@import '../blocks/consultation';
@import '../blocks/forms';
@import '../blocks/media';
@import '../blocks/carousel';
@import '../blocks/catalog';
@import '../blocks/reviews';
@import '../blocks/footer';
@import '../blocks/modal';
@import '../blocks/pageup';





